<!DOCTYPE html>
<html>
<head>
	<title><%= t('redirector.redirecting_to') %></title>

	<style>

		div {
			border: 1px solid #DDDDDD;
			color: #264466;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			margin: 200px auto 0;
			text-align: center;
			font-size: 18px;
			font-weight: 200;
			line-height: 1.4;
			width: 500px;
			padding: 10px;
			border-radius: 10px;
		}

		a, a:visited {
			color: #278eb5;
			text-decoration: none;
		}

		.caption {
			font-size: 26px;
			font-weight: 500;
			line-height: 1.1;
			margin: 0.67em 0;
		}

	</style>

</head>

<body>

	<%= render 'hook' %>

	<div>
		<p class="caption"><%= t('redirector.redirecting_to') %></p>
		<p><%= link_to(t('redirector.follow_link'), @redirect_path) %></p>
	</div>

	<script language="javascript">document.location.href = "<%= raw @redirect_path %>";</script>

</body>
</html>